<div class="outer-res">
    <div class="vedio-clip">
        <div>
            <iframe [src]="url" class="setvimeo" frameborder="0" muted='true' allow="autoplay;" muted="1" allowfullscreen data-ready="true"></iframe>
        </div>
    </div>
</div>
<div class="glass-box">
    <div class="content-box">
        <!-- <div class="progress-view">
            <div class="progressing1">
                <p>Adhaar Authentication</p>
            </div>
            <div class="progressing2">
                <p>Face Scan</p>
            </div>
            <div class="progressing3">
                <p>Adhaar Details</p>
            </div>           
        </div>         -->
        <form>            
            <div *ngIf="getOtp">                
                <label class="font-adjuster" for="fname">Aadhar Number:</label>
                <input class="adhaar-box" type="text" id="adhaarn" name="fname" placeholder="Enter Adhaar Number" [(ngModel)]="aadharNumber"><br><br>
                <span class="display-otp">
                   <button class="primary-btn" type="button" id="mysubmit1" (click)="myfunc()">Get OTP</button>
                </span>
            </div>
            <div *ngIf="submitOtp">                
                <span class="get-otp" id="get-otp">
                    <label class="font-adjuster" for="lname">OTP:</label>
                    <input class="adhaar-box" type="text" id="lname" name="lname" placeholder="Enter OTP" [(ngModel)]="otp"><br><br>
                    <button class="primary-btn" type="button" id="mysubmit" (click)="scanface()">Submit</button>
                </span>
            </div>
            <div *ngIf="aadharService.faceScan">
                <label>{{customerName}}</label>
                <!-- <div>
                    <div class="progress-view"></div>
                    <h1>Scan face</h1>
                    <div class="container"></div>
                    <button class="primary-btn" type="button" id="mynext" onclick="gonext()">Next</button>
                </div> -->
                <app-face-recognize></app-face-recognize>
            </div>
            <div *ngIf="aadharService.aadharDetails">  
                <div class="adhaar-detail">  
                    <!-- <h1>Adhaar Details</h1>
                    <h3>Name: Mahesh Sindiri</h3>
                    <h3>Gender: Male</h3>
                    <h3>DOB: 1997-07-04</h3>                    
                    <h3>Address: 2-21, nelavanka, Kaviti mandal</h3> -->
                    <h1>Aadhar Details</h1>
                    <h3>Name: {{customerName}}</h3>
                    <h3>Gender: {{gender}}</h3>
                    <h3>DOB: {{customerAadharDetails.date_of_birth}}</h3>                    
                    <h3>Address: {{customerAadharDetails.house}}, {{customerAadharDetails.landmark}}</h3>
                </div>              
                <!-- <span class="get-otp" id="get-otp">
                    <label class="font-adjuster" for="lname">name: {{customerName}}</label>
                    <label class="font-adjuster" for="lname">gender: {{gender}}</label>
                </span> -->
            </div>                      
        </form>        
    </div>
</div>
